.img1 {
  height: 150px;
  width: 200px;
  margin: 20px;
}

.jumbotron {
  background-image: url('../imgs/image.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.color {
  color: white;
}

h3 {
  color:black;
}

.trending:hover {
  color: gold;
  font-size: 36px;
  transition: .7s ease;
}

.img11 {
  height: 250px;
  width: 31%;
  margin: 10px;
}

.card {
  height: 500px;
  margin: auto;
}

.card-img-top {
  max-width: 100%;
  height: 200px;
}

body {
  background-image: url('../imgs/bgb.png');
}

#carouselExampleIndicators{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

.carousel-indicators {
  position:relative;
  top: 20em;
  visibility: hidden;

}

.onclickQuery:hover {
font-size: 21px;
transition: .5s ease;
color: gold;

}

.carousel-caption.d-none.d-md-block
{
  position: absolute;
  top:20px;
  }




.form-control {
  margin-left: 5px;
}

.navbar-brand {
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
}
#password {
  margin-right: 5px;
}
#loginbtn {
  background-color: rgb(245, 245, 142);
}

h3{
  text-align: center;
}

/* hottopicSearch HTML */

container{
  margin-left: auto;
  margin-right: auto;

}

.list-group{
  width: 50%;
  margin-bottom: 15px !important;
  float: left;
  padding: 10px 10px 10px 10px !important;
  margin: auto;
  height: 500px;
 

}

.label-primary{
  font-family: 'Lato', sans-serif;
  font-size: 25px;

}

.statement{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.link-action {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
  font-size: 20PX;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(221, 219, 219);
  text-align: center;
}

.description{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}

address div{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  color:rgb(3, 78, 3);

}


@media screen and (max-width: 1650px) {
   .list-group{
    width: 70%;
    margin-bottom: 15px !important;
    padding: 10px 10px 10px 10px !important;
    margin: auto;
    height: auto;
    float: none;
 
  }

}