.img1 {
  height: 150px;
  width: 200px;
  margin: 20px;
}

.jumbotron {
  background-image: url('../imgs/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar.navbar-expand-lg.navbar-light.bg-info {
  background-image: url('.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  color: white;
}

.img11 {
  height: 250px;
  width: 31%;
  margin: 10px;
}

.nav-link.donate {
  color: green;
}

.card {
  width: 33%;
  margin: auto;
}

.card-img-top {
  max-width: 100%;
  height: 200px;
}

body {
  background-image: url('../imgs/bgb.png');
}

.carousel-inner{
  max-width: 50%;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}