.img1 {
  height: 150px;
  width: 200px;
  margin: 20px;
}

.jumbotron {
  background-image: url('../imgs/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  color: white;
}

.img11 {
  height: 250px;
  width: 31%;
  margin: 10px;
}

.card {
  height: 500px;
  margin: auto;
}

.card-img-top {
  max-width: 100%;
  height: 200px;
}

body {
  background-image: url('../imgs/bgb.png');
}

.form-control{  
  margin-left: 5px;
}

#brand{
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
}
#password{
  margin-right:5px;
}
#loginbtn{
 background-color: rgb(245, 245, 142);
}

.list-group{
  width: 33%;
  margin-bottom: 15px !important;

}